* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #5c7cfa, #72c6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease;
    text-align: center;
}

.container h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.container p {
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
}


.container input {
    width: 100%;
    height: 55px;
    border: 2px solid #5c7cfa;
    outline: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.container input:focus {
    border-color: #364fc7;
    box-shadow: 0 0 8px rgba(92, 124, 250, 0.4);
}

.container button {
    width: 100%;
    height: 55px;
    background: linear-gradient(135deg, #4c6ef5, #5c7cfa);
    color: #fff;
    border: none;
    outline: none;
    margin-top: 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(76, 110, 245, 0.3);
}

.container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 25px rgba(76, 110, 245, 0.4);
}


#imgBox {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #4c6ef5;
    border-radius: 15px;
    background: #f8f9ff;
    transition: 0.3s ease;
}

#imgBox img {
    width: 100%;
    display: none;
}

#imgBox.show-img {
    border: 2px solid #ccc;
    background: #ffffff;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}


.error {
    animation: shake 0.1s linear 6;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}